@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 98vw;
    height: 100vh;
    background-image: url(../imagens/Planet9_3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

header > h1, p{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 5px;
}

main {
    width: 500px;
    height: 600px;
    background-image: linear-gradient(120deg, #b561008c, #753e0093, #f5830096, #361d0088, #db750088);
    border-radius: 10px;
    border: 2px solid #A3E686;
    margin: auto;
    margin-top: 100px;
}

form {
    width: auto;
    padding: 10px;
}

label{
    font-size: 15px;
    font-weight: normal;
    color: white;
}

input{
    display: flex;
    width: 300px;
    height: 20px;
}

div.caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

select#iestado, select#ipais {
    width: 300px;
}

textarea#IMSG {
    display: block;
    margin-top: 5px;
}

div.caixa2 {
    display: inline-flex;
    align-items: center;
    width: 20px;
    height: 40px;
    margin-top: 20px;
    text-align: left;
}

input [type=checkbox] {
    display: flex;
}

input#enviar {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}