@media screen and (orientation: portrait) and (min-width: 320px) and (max-width: 480px) {
    
    body {
        width: 100vw;
        height: 100vh;
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    main {
        width: 280px;
        height: 470px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input {
        width: 150px;
    }

    input#enviar {
        margin-top: 20px;
    }

    textarea#IMSG {
        width: 260px;
        height: 50px;
    }

    select#iestado, select#ipais {
        width: 150px;
    }
}