@media screen and (orientation: portrait) and (min-width: 300px) and (max-width: 480px) {
    
    body {
        width: 100vw;
        height: 100vh;
        background-attachment: fixed;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    main {
        width: 290px;
        height: 630px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    label {
        font-size: 18px;
        font-weight: 500;
        color: white;
    }

    input {
        width: 150px;
    }

    input#enviar {
        margin-top: 20px;
    }

    textarea#IMSG {
        width: 260px;
        height: 200px;
    }

    select#iestado, select#ipais, input[type=file] {
        width: 150px;
        height: 30px;
    }

    div.caixa2 {
        display: inline-flex;
        align-items: center;
        width: 20px;
        height: 40px;
        margin-top: 20px;
        text-align: left;
    }
    
    input [type=checkbox] {
        display: flex;
        margin-left: 20px;
    }
}